{% extends "layout.html" %}

{% block nav %}
<button class="btn btn-outline-success and-all-other-classes" onclick="location.href= '/dashboard'">dashboard</button>
<button class="btn btn-outline-success and-all-other-classes" onclick="location.href= '/logout'">Logout</button>


{% endblock %}

{% block main %}

<h3> Welcome, you are logged in as {{ session["username"] }} </h3>

<ul>
    <b>Existing users:</b>
    {% for user in users %}
      <li>{{ user[0] }}</li>
    {% endfor %}
</ul>

<h4>Your timetable</h4>
<div class="container">
  <div class="row mt-2">
    <div class="col-sm">
      Period
    </div>
    <div class="col-sm">
      Monday
    </div>
    <div class="col-sm">
     Tuesday
    </div>
    <div class="col-sm">
      Wednesday
    </div>
    <div class="col-sm">
      Thursday
     </div>
     <div class="col-sm">
       Friday
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      1
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p1')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p1')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p1')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p1')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p1')" style="background-color: red" value="0">Lesson</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      2
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p2')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p2')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p2')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p2')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p2')" style="background-color: red" value="0">Lesson</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      3
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p3')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p3')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p3')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p3')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p3')" style="background-color: red" disabled>Assembly</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      4
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p4')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p4')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p4')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p4')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p4')" style="background-color: red" value="0">Lesson</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      5
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p5')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p5')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p5')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p5')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p5')" style="background-color: red" value="0">Lesson</button>
     </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      6
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'mon','p6')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'tue','p6')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'wed','p6')" style="background-color: red" value="0">Lesson</button>
    </div>
    <div class="col-sm">
      <button onclick="is_free(this,'thur','p6')" style="background-color: red" value="0">Lesson</button>
     </div>
     <div class="col-sm">
      <button onclick="is_free(this,'fri','p6')" style="background-color: red" value="0">Lesson</button>
     </div>
  </div>
</div>
<div id="output"></div>

<form method="POST">
  <input value="{{ frees }}" name="timetable" id="timetable" type="hidden">
  <button type="submit" class="btn btn-primary">Submit timetable</button>
</form>


<script>
  let frees = document.getElementById("timetable").value;
  frees = frees.split(", ");
  let days = ["mon","tue","wed","thur","fri"];
  let periods = ["p1","p2","p3","p4","p5","p6"];
  
  function is_free(element,day,period){
    let index = 1;
    index *= (days.indexOf(day)) * 5;
    index += periods.indexOf(period);
    if (day != "mon"){
      index += 1;
    }
    
    if (element.style.backgroundColor === "red"){
      element.style.backgroundColor = "green";
      element.innerHTML = "Free";
      frees[index] = "1"

      element.value = "1";
    } else {
      element.style.backgroundColor = "red";
      element.innerHTML = "Lesson";
      frees[index] = "0"
    }
    //document.getElementById("output").innerHTML = frees.toString();
    document.getElementById("timetable").value = frees.toString();
  }
</script>




{% endblock %}
