{% extends "layout.html" %}

{% block nav %}

<button type="button" class="btn btn-outline-success and-all-other-classes" style="float: right;">
    <a href="/logout">logout</a>
  </button>
{% endblock %}

{% block main %}

<h3> Welcome, you are logged in as {{ session["username"] }} </h3>

<ul>
    <b>Existing users:</b>
    {% for user in users %}
      <li>{{ user[0] }}</li>
    {% endfor %}
</ul>

<h4>Your timetable</h4>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Monday
    </div>
    <div class="col-sm">
     Tuesday
    </div>
    <div class="col-sm">
      Wednesday
    </div>
    <div class="col-sm">
      Thursday
     </div>
     <div class="col-sm">
       Friday
     </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Monday
    </div>
    <div class="col-sm">
     Tuesday
    </div>
    <div class="col-sm">
      Wednesday
    </div>
    <div class="col-sm">
      Thursday
     </div>
     <div class="col-sm">
       Friday
     </div>
  </div>
</div>


{% endblock %}
