{% extends "layout.html" %}

{% block nav %}

<button type="button" class="btn btn-outline-success and-all-other-classes" style="float: right;">
    <a href="/logout">logout</a>
  </button>
{% endblock %}

{% block main %}

<h3> Welcome, you are logged in as {{ session["username"] }} </h3>

<ul>
    <b>Existing users:</b>
    {% for user in users %}
      <li>{{ user[0] }}</li>
    {% endfor %}
</ul>



<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
</button>

{% endblock %}
