{% extends "layout.html" %}

{% block nav %}
<button class="btn btn-outline-success and-all-other-classes" onclick="location.href= '/dashboard'">dashboard</button>
<button class="btn btn-outline-success and-all-other-classes" onclick="location.href= '/logout'">Logout</button>


{% endblock %}

{% block main %}

<h3>This is {{username}} timetable</h3>

<div class="container">
    <div class="row mt-2">
      <div class="col-sm">
        Period
      </div>
      <div class="col-sm">
        Monday
      </div>
      <div class="col-sm">
       Tuesday
      </div>
      <div class="col-sm">
        Wednesday
      </div>
      <div class="col-sm">
        Thursday
       </div>
       <div class="col-sm">
         Friday
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        1
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p1')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p1')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p1')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p1')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p1')" style="background-color: red" value="0">Lesson</button>
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        2
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p2')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p2')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p2')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p2')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p2')" style="background-color: red" value="0">Lesson</button>
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        3
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p3')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p3')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p3')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p3')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p3')" style="background-color: red" disabled>Assembly</button>
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        4
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p4')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p4')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p4')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p4')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p4')" style="background-color: red" value="0">Lesson</button>
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        5
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p5')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p5')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p5')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p5')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p5')" style="background-color: red" value="0">Lesson</button>
       </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm">
        6
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'mon','p6')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'tue','p6')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'wed','p6')" style="background-color: red" value="0">Lesson</button>
      </div>
      <div class="col-sm">
        <button class="period"  onclick="is_free(this,'thur','p6')" style="background-color: red" value="0">Lesson</button>
       </div>
       <div class="col-sm">
        <button class="period"  onclick="is_free(this,'fri','p6')" style="background-color: red" value="0">Lesson</button>
       </div>
    </div>
  </div>

  <input value="{{ timetable }}" id="timetable" type="hidden">

  <script>
    const periods = document.getElementsByClassName("period");
    let timetable = document.getElementById("timetable").value;
    timetable = timetable.split(", ");
    console.log(timetable);

    let day = 0;
    let period = 0;
    let index = 0;

    for (i in periods){
        //console.log("array",day * 5 + period);
        //console.log("i",i);

        periods[i].click()
        console.log("click index",index);
        console.log("element",periods[i]);


        if (timetable[index] == "1"){
            console.log("i",i);
            console.log("index",index);
            console.log("element changed",periods[i].onclick);
            periods[i].innerHTML = "Free";
            periods[i].style.backgroundColor = "green";
        }

        /*
        if (timetable[i] == "1"){
            console.log("b",periods[day + period * 5])
            periods[day + period * 5].style.backgroundColor = "green";
            periods[day + period * 5].innerHTML = "Free";
        }
        if (i % 5 == 0 && i != 0){
            day += 1;
            period = 0;
        } else {
            period += 1;
        }
        */

    }
    
    function is_free(element, day, period){
        const days = ["mon","tue","wed","thur","fri"];
        const p = ["p1","p2","p3","p4","p5","p6"];

        index = 1;
        index += days.indexOf(day) * 5;
        index += p.indexOf(period) - 1;

        if (day != "mon"){
          index += 1;
        }
    
    }

  </script>


{% endblock %}